<div class="container-fluid card login-container">
  <h3 class="text-center">Create free account</h3>
  <hr>
  <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
    <p *ngFor="let msg of errorMsg">{{ msg }}</p>
  </div>
  <div class="mb-3">
    <label for="firstname" class="form-label">First name</label>
    <input [(ngModel)]="registerRequest.firstname" type="text" class="form-control" id="firstname" placeholder="firstname">
  </div>
  <div class="mb-3">
    <label for="lastname" class="form-label">Email</label>
    <input [(ngModel)]="registerRequest.lastname" type="text" class="form-control" id="lastname" placeholder="lastname">
  </div>
  <div class="mb-3">
    <label for="login" class="form-label">Email</label>
    <input [(ngModel)]="registerRequest.email" type="email" class="form-control" id="login" placeholder="email@example.com">
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input [(ngModel)]="registerRequest.password" type="password" class="form-control" id="password" placeholder="password">
  </div>
  <div class="d-flex justify-content-between mb-3">
    <button (click)="register()" type="button" class="btn btn-primary">
      <em class="fas fa-sign-in-alt">&nbsp;Create an account</em>
    </button>
    Already have an account?
    <button (click)="login()" type="button" class="btn btn-link">
      Log In
    </button>
  </div>
</div>
